#background{
    background-color: #DDD9D9;   
}

#wrap { 
        width: 960px;
	    margin: 0 auto;
}
#headerPix{
    position: relative;
    border: 5px solid #04B486;
}
#logo{
    position: relative;
    left:30px;
    top:-185px;
    border: 3px solid #black;
}

.menuBackground {
	    background:#04B486;
        text-align: center;
        border-radius: 5px;
        position: relative;
        top:-165px;
        font-family: arial;
        font-size: 16px;     
        width:1000px;   
}
.dropDownMenu a {
	    color: white;
        padding:10px;
        border-radius: 5px;
}
.dropDownMenu{
	    list-style: none;
	    margin: 0;
	    padding: 0;
        border-radius: 5px; 
}

.dropDownMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
    border-radius: 5px;
        
}
.dropDownMenu li {
	position: relative;
    padding-left: 30px;
    padding-right: 30px;
        
}
.dropDownMenu a {
	padding: 10px 20px;
	display: block;
	text-decoration: none;
        
}
.dropDownMenu a:hover {
	background: blue;
    border: 1px solid black; 
}


/* Level 1 Drop Down Menu */
.dropDownMenu > li {
	display: inline-block;
	margin-left: -4px; /* solve the 4 pixels spacing between list-items */      
}
.dropDownMenu > li:first-child {
	margin-left: 0;
}
.dropDownMenu > li > a {}
.dropDownMenu > li > a:hover {}

/* Level 2 */
.dropDownMenu > li > ul {
	text-align: left;
	width: 130%;
	display: none;
	background: blue;
    border: 2px solid black;
	position: absolute;
	top: 100%;
	left: -20;
	z-index: 9999999; /* if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video */
}
.dropDownMenu > li:hover > ul {
	display: block;
}
.dropDownMenu ul li a {}
.dropDownMenu ul li a:hover {}

/* Level 3 */
.dropDownMenu > li > ul > li > ul {
	text-align: left;
    width: 130%;
	display: none;
	background: blue;
    border: 2px solid black;
	position: absolute;
	right: 100%;
	top: 0;    
	z-index: 9999999;
}
.dropDownMenu > li > ul > li:hover > ul {
	display: block;
}
.dropDownMenu ul ul li {}
.dropDownMenu ul ul li a {}
.dropDownMenu ul ul li a:hover {}

 
#pix1{
     position:relative;
     border: 6px solid black;
     width: 485px;
     height: 350px;
     top:-165px;
}
     
#pix2{
     position:relative;
     border: 6px solid black;
     width: 485px;
     height: 350px;
     left: 503px;
     top:-527px;
}

#section1{    
     position:relative;
     top:-525px;
     width: 700px;
     height: 280px;
     font-size: 12pt;
     font-family: arial;
     color:white;
     border: 3px solid black;
     background:#04B486;
 }
 
 ul.multicolumns {
    display: inline-block;
}

ul.multicolumns li {
    float: left;
    list-style: outside none none;
    width: 50%;
}
#multicolumn{
     -moz-column-count: 2;
    -moz-column-gap: 1px;
    -webkit-column-count: 2;
    -webkit-column-gap: 1px;
    column-count: 2;
    column-gap: 1px;
} 

#WildHorseLogo{    
     position:relative;
     top:-1840px;
     left: 340px;
 }
 
 #FB{    
     position:relative;
     top:-1925px;
     left: 570px;
 }


 #section2{    
     position:relative;
     top:-812px;
     left: 706px;
     width: 284px;
     height: 660px;
      font-family: arial;
     font-size: 12pt;
     color:black;
     border: 5px solid white;
     background:tan;
 }
#section3{    
     position:relative;
     top:-1210px;
     right: 700;
     width: 700px;
     height: 393px;
     font-family: arial;
     font-size: 14pt;
     color:black;
     border: 3px solid black;
     background:#04B486;
 }

#sectionA{    
     position:relative;
     top:-165px;
     width: 300px;
     height: 680px;
     font-size: 12pt;
     font-family: arial;
     color:white;
     border: 3px solid white;
     background:tan;
 }
#sectionB{    
     position:relative;
     top:-851px;
     left:303px;
     width: 651px;
     height: 640px;
     font-size: 12pt;
     font-family: arial;
     color:white;
     border: 3px solid white;
     background:#04B486;
     padding:20px;
 }
.sidebarpix1
{
	text-align:center;
	margin: 25px;    
} 
#whlogo{    
     position:relative;
     top:-80px;
     left: 340px;
 }
#text1{    
     position:relative;
     top:-80px;
     
 }
#title {
	position:relative;
     top:-30px;
   font-size:20pt;
}
#culvertext {
	
   font-size:12pt;
}
#culverlogo {
	float: left;
    margin: 5px 20px 0 0;
    border: 3px solid black;
}
#plat {
   
   font-size:20pt;
}
#gold {
   position:relative;
     top:-30px;
   font-size:20pt;
}
#a{
	position:relative;
     top:-15px;
	font-size:12pt;
	list-style: none;
	margin-left: -10px;
	line-height:2;
}


#fjlogo {
   position:relative;
     top:-30px;
     left: 180px;
   
    
}


span {
	position: relative;
	top: -30px;
 	font-size:12pt;
 }
 
#resultsBackground{
    background-repeat: repeat-x;
    width: 990px;
    height: 540px;
    position:relative;
    top: -165px;
    border: 5px solid White;
  
    }
#Results2012{
    background-repeat: repeat-x;
    width: 990px;
    height: 2170px;
    position:relative;
    top: -165px;
    border: 5px solid White;
  
    }


